.vs
app/__pycache__
app/*/__pycache__
tests/__pycache__
.env
my-env
app.log

# Terraform
infrastructure/terraform/.terraform
infrastructure/terraform/.terraform.*
infrastructure/terraform/*.tfplan
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/*.tfvars

# Ansible
infrastructure/ansible/.vagrant
# --- Use hosts.ini for local development, it will be dynamically created by ci/cd pipeline
infrastructure/ansible/hosts.ini